* {
	box-sizing: border-box;
}

/* Typography */
a {
	font-family: 'Montserrat', sans-serif;
}

/* Nav */
nav {
  position: relative;
	margin: 0;
  overflow: hidden;
	
	padding: 20px;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #222;
  text-align: center;
  padding: 15px 45px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  color: #CCB2BD;
}

/* Centered section inside the top navigation */
.logo a {
    font-size: 40px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* image gallery */
.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	padding: 10px;
}

.img {
	max-width: 600px;
	max-height: 300px;
	background-color: grey;
	
	margin: 25px;
}

.img:hover {
	-webkit-filter: brightness(80%);
	filter: brightness(80%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

