#mainNav {
  min-height: 56px;
  background-color: #fff;
  font-family: 'Muli';
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #D6C1CA;
  border: 1px solid #D6C1CA;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #D6C1CA;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #D6C1CA;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #D6C1CA;
    outline: none;
    border-bottom: 0.25rem solid #D6C1CA;
  }
}

.title {
  font-size: 50px;
  letter-spacing: 3px;
}

.pink {
  background: #C2A2B0;
  width: 100vw;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 2%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white;
  
  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/bg-masthead.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding-left: 5%;
  padding-right: 5%;
}

.hero-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/bg-signup.jpg');
}

.image {
  border-radius: 10px;
}

.contact-section {
  padding: 2%;
  margin: 0;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Muli';
  letter-spacing: 0.0625em;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: #C2A2B0;
}

a:focus, a:hover {
  text-decoration: none;
  color: #BB859B;
}

.link {
  color: #7D455C;
}

.link:hover {
 color: #5C3344; 
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #161616 !important;
}

.text-primary {
  color: #D6C1CA !important;
}

p {
  font-size: 20px;
}


