.navbar {
	overflow: hidden;
	background-color: #CAD4CC;
	width: 100%;
}

/* Links in navbar */
.navbar a {
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* change backgorund colour of links when hovered over */
.navbar a:hover, .dropdown:hover .dropbutton {
	background-color: #F3CCCB;
}
