nav {
    position: relative;
    overflow: hidden;

    margin: 0;
    padding: 20px;

    a {
        float: left;
        padding: 15px 45px;

        text-align: center;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            color: #F6EABC;
        }
    }

    .icon {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
  nav a:not(:first-child) {
		display: none;
	}
  nav a.icon {
    float: right;
    margin: 0px -13px;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  nav a.icon {
    margin: 0px -30px;
  }
}

@media screen and (max-width: 1300px) {
  nav.responsive {
        position: relative;
        
        a.icon {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        
        a {
            float: none;
            display: block;
            text-align: center;
        }

        .logo {
            display: none;
        }
	}
}

.logo a {
    font-size: 1.875em;
	
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-shadow: -3px -2px 0 $highlight-colour;
}

@media screen and (max-width: 940px) {
	.logo a {
		font-size: 1.35em;
	}
}