.socials {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: $bg-cream;
  color: $text-colour;

  h1,
  h3 {
    text-align: center;
  }
}

.icons {
  padding: 2% 20%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $text-colour;

  .fab:nth-child(3n + 1) {
    color: $pink;
  }

  .fab:nth-child(3n + 2) {
    color: $red;
  }
}

@media screen and (max-width: 900px) {
  .icons {
    justify-content: space-between;
  }
}