.container-small {
	margin: 0 101px;

	display: flex;

	&__image {
		margin: 2% 7%;

		object-fit: contain;
        align-self: flex-start;
    }
    
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 0 10% 0 2%;
		text-align: center;
		align-self: center;

		p {
			padding: 2% 0;
		}
	}
}

.container-small img {
		max-width: 600px;
}

@media screen and (max-width: 1010px) {
	.container-small {
		display: flex;
		flex-direction: column;
		text-align: center !important;
		margin: 0;
		&__image {
			align-self: center;
		}
		&__text {
			padding: 2% 15%;
		}
	}

	.container-small img {
		padding: 0;
}
}