.container-tall {
    margin: 0 101px;
	padding: 5%;
	display: flex;
	&__image {
		margin: 2% 5%;

		object-fit: contain;
        align-self: flex-start;
        

	}
	&__text {
		padding: 0 15% 0 2%;
		align-self: center;
	}
}

.container-tall img {
            // max-height: 500px;
            max-width: 300px;
}


@media screen and (max-width: 1010px) {
	.container-tall {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0;
		&__image {
			align-self: center;
		}
		&__text {
			padding: 2% 15%;
		}
    }
}