body {
    margin: 0;
}

.intro {
    text-align: left;
    padding: 0% 15% 2% 15%;

    h1 {
        font-size: 2.1em;
        text-shadow: -3px -2px 0 $highlight-colour;
    }
}

.top-image {
    text-align: center;
    display: block;

    padding: 2% 0 0 0;
	
	.fg {
		max-height: 300px;
		border-radius: 215px;

        &:hover {
			box-shadow: -20px -10px #CCB2BD,
				-40px 5px #F6EABC,
				20px 10px #BAE3DF, 
				40px -5px #E3BBBA;
			transition: 0.4s;
		}
        
        @media screen and (max-width: 1220px) {
                max-width: 60%;
                height: auto;

			box-shadow: 20px 0px #CCB2BD,
				40px 0px #F6EABC,
				60px 0px #BAE3DF;
        }
	}
}
