body {
    margin: 0;
}

.intro {
    text-align: left;
    padding: 0% 15% 2% 15%;

    h1 {
        font-size: 2.25em;
    }
}

.top-image {
    text-align: center;
    display: block;

    padding: 2% 0 0 0;
	
	.fg {
		max-height: 300px;
		border-radius: 215px;
        border: 15px solid white;
        
        @media screen and (max-width: 1220px) {
                max-width: 60%;
                height: auto;
        }
	}
}
