.work {
  padding: 60px 0;
  background: $cream;
  color: $text-colour;

    background-image: url(/svg/monogram.svg);
  background-repeat: no-repeat;
  background-position: 5% 95%;
  background-size: 50px;

    @media screen and (max-width: 1200px) {
        h2 {
            margin-right: 0px;
            text-align: center;
    }
  }
}

.right_txt {
  text-align: right;
  margin-right: 100px;

  @media screen and (max-width: 1200px) {
    margin-right: 0px;
    text-align: center;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  container {
    padding: 0 2%;
    
    li {
      margin: 2% 0;
      max-width: 50ch;
    }
  }
}