@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;700&display=swap');

$title-font : 'DM Serif Display';
$secondary-font: 'Poppins';

* {
    color: $text-colour;
}


