@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Work+Sans&display=swap');

$primary-font : 'Montserrat';
$secondary-font: 'Work Sans';

* {
    color: $text-colour;
}

a, span, h1 {
    font-family: $primary-font;
}

p {
    font-family: $secondary-font;
    font-size: 1.15em;
    
    a {
        font-family: $secondary-font;
        color: #985f76;
        font-weight: bold;
    }
}


