@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;700&display=swap');

$serif: 'DM Serif Display';
$poppins: 'Poppins';

h1, h2, h3, h4 {
    font-family: $serif;
}

.header_link {
    font-family: $serif;
}

p {
    font-family: $poppins;
}

li {
    font-family: $poppins;
}

span {
    font-family: $poppins;
}