.hero-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	padding: 2%;
	
		img {
			height: 340px;
			width: 1240px;
	}
} 

article {
	text-align: center;
	
	p {
		padding: 2% 15%;
	}
}