.hero-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	padding: 2%;
	
		img {
			height: 340px;
			width: 1240px;
			
			// This works for now... but change this to show the smaller image version
			@media only screen and (max-width: 980px) {
				height: 300px;
				width: 600px;
			}
		}
		
} 

article {
	text-align: center;
	
	p {
		padding: 2% 15%;
	}
}