.hero-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	padding: 2%;
	
		img {
			height: 340px;
			width: 1240px;

			@media screen and (max-width: 940px) {
				max-width: 100vw;
				height: auto;
				overflow: hidden;
			}
		}
		
} 

article {
	text-align: center;
	
	p {
		@media screen and (max-width: 940px) {
			padding: 2% 10%;
		}
		padding: 2% 15%;
	}
}